---
---

@import "{{ site.theme }}";
.main-content {
  h1,
  h3,
  h4,
  h5,
  h6 {
    color: #FF4162;
  }
  h2 {
    color: #fff;
    background-color:#FF4162;
  
  }
}
.page-header {
    background-color: #FF4162;
    background-image: none;
}

.codes a {
    color:white ;
    text-decoration: none;
    background:#FF4162 ;
    padding: 8px;
    border-radius: 25px;
}

